* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fd5c38;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }
}

.header-dashboard-page {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bar-btn {
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

header {
  padding-inline: 20px;
  padding-block: 14px;
  border-bottom: 1px solid #f1f1f1;

  .logo {
    a {
      text-decoration: none;
      width: fit-content;

      h1 {
        width: fit-content;
        font-size: 26px;
        font-family: system-ui;
        color: #fd5c38;
      }
    }

    p {
      font-size: 14px;
      font-family: sans-serif;
    }
  }
}

main {
  display: flex;
  gap: 54px;
  margin-inline: 20px;
}

aside {
  background: white;
  height: 100vh;
  width: 100%;
  border-right: 1px solid #f1f1f1;
  max-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition-duration: 0.4s;

  &.active {
    transform: translateX(0%);
  }

  .links__list {
    display: grid;
    gap: 40px;
    justify-content: center;
    margin-block: 40px;
    list-style: none;

    li {
      display: flex;
      gap: 7px;
      align-items: center;
      cursor: pointer;
      padding-block: 10px;
      position: relative;
      padding-inline: 5px;

      svg {
        width: 19px;
        height: 19px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: tomato;
        transition-duration: 0.4s;
      }

      &.active {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

main {
  #addItem {
    height: fit-content;
    margin-block: 40px;
    display: grid;
    gap: 12px;
    max-width: 390px;
    width: 100%;

    h3 {
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 100;
    }

    .upload-image {
      display: grid;
      gap: 10px;

      label {
        div {
          border-radius: 5px;
          width: 120px;
          height: 77px;
          background-color: #e6e6e68c;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #949494;
        }
      }
      #upload {
        display: none;
      }
    }

    .product-name,
    .product-description,
    .product-category,
    .product-price {
      display: flex;
      flex-direction: column;
      gap: 7px;

      input {
        padding-block: 12px;
        padding-inline: 10px;

        &:focus {
          outline: none;
        }
      }
    }

    .product-mony {
      display: flex;
      gap: 30px;

      input,
      select {
        max-width: 115px;
        padding-block: 8px;

        &:focus {
          outline: none;
        }
      }
    }

    textarea {
      height: 113px;
      width: 100%;
      padding-block: 12px;
      padding-inline: 10px;

      &:focus {
        outline: none;
      }
    }

    button {
      border: hidden;
      max-width: 91px;
      padding-block: 10px;
      font-size: 12px;
      color: white;
      background-color: #fd5c38;
      cursor: pointer;
    }
  }
}

article {
  margin-block: 40px;
  display: none;
  /* margin-right: 54px; */
  width: 100%;
  overflow-y: scroll;
  height: 84vh;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .list-title {
    h3 {
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 100;
    }
  }

  table {
    width: 279%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
      background-color: #f2f2f278;
    }

    tr {
      padding-inline: 20px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
      padding-block: 10px;
      text-align: justify;
      font-size: 14px;
      font-family: sans-serif;
      align-items: center;
      font-weight: 100;
      border: 1px solid #e1e1e1;
    }

    tbody {
      tr {
        border-top: hidden;
      }
    }

    img {
      max-width: 67px;
    }

    button {
      display: flex;
      border: hidden;
      background: transparent;
      cursor: pointer;

      svg {
        max-width: 16px;
        color: #f44336;
      }
    }
  }
}

.btns {
  display: flex;
  gap: 10px;

  .update,
  .delete {
    color: white;
    padding-block: 8px;
    padding-inline: 10px;
    font-size: 11px;
    border-radius: 5px;
  }

  .update {
    background: #3f51b5;
  }

  .delete {
    background-color: #f44336;
  }
}

#update-section {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000057;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.4s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .addItem {
    background-color: white;
    padding-inline: 22px;
    padding-block: 22px;
    max-width: 456px;
    width: 100%;
    border-radius: 8px;
    display: grid;
    gap: 12px;

    .close-section {
      display: flex;
      justify-content: center;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
        color: #f44336;
      }
    }

    h3 {
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 100;
    }

    .upload-image {
      display: grid;
      gap: 10px;

      label {
        div {
          border-radius: 5px;
          width: 120px;
          height: 77px;
          background-color: #e6e6e68c;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #949494;
        }
      }
      #upload {
        display: none;
      }
    }

    .product-name,
    .product-description,
    .product-category,
    .product-price {
      display: flex;
      flex-direction: column;
      gap: 7px;

      input {
        padding-block: 12px;
        padding-inline: 10px;

        &:focus {
          outline: none;
        }
      }
    }

    .product-mony {
      display: flex;
      gap: 30px;

      input,
      select {
        max-width: 115px;
        padding-block: 8px;

        &:focus {
          outline: none;
        }
      }
    }

    textarea {
      height: 113px;
      width: 100%;
      padding-block: 12px;
      padding-inline: 10px;

      &:focus {
        outline: none;
      }
    }

    button {
      border: hidden;
      max-width: 91px;
      padding-block: 10px;
      font-size: 12px;
      color: white;
      background-color: #fd5c38;
      cursor: pointer;
    }
  }
}

.header-home-page {
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: rgb(59, 59, 59);
    }

    p {
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

#home {
  padding-inline: 20px;
  margin-block: 50px;
  display: flex;
  justify-content: center;

  .products-list {
    list-style: none;
    display: grid;
    gap: 15px;

    li {
      max-width: 265px;

      figure {
        max-width: 300px;

        img {
          width: 100%;
          height: 100%;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
      }

      .product-info {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        padding-inline: 10px;
        padding-block: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
          font-size: 16px;
          font-weight: 600;
          font-family: system-ui;
        }

        p {
          color: #1f2937;
          font-size: 14px;
          font-family: system-ui;
        }

        span {
          color: #fd5c38;
          font-size: 18px;
          font-weight: 600;
          font-family: system-ui;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

#error {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.4s;

  &.active {
    visibility: visible;
    opacity: 1;
    animation: shake 0.5s ease;
  }

  .massage {
    padding-inline: 30px;
    padding-block: 11px;
    color: white;
    font-family: system-ui;
    font-size: 14px;
  }
}

@media (min-width: 640px) {
  #home {
    .products-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  article {
    table {
      width: 114%;
    }
  }
}

@media (min-width: 768px) {
  #home {
    .products-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  main {
    gap: 18px;
    margin-inline: 0px;
  }

  article {
    table {
      max-width: 1400px;
      width: 98%;
    }
  }

  .header-dashboard-page {
    .bar-btn {
      display: none;
    }
  }

  aside {
    position: static;
    transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  #home {
    .products-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
